#charts-area {
  /* Frame 2087335270 */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 36px;
  gap: 9px;

  position: absolute;
  width: 780px;
  height: 960px;
  left: 1080px;
  top: 60px;

  background: rgba(255, 255, 255, 0.5);
  border: 1.00985px solid rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  overflow-y: auto;
}

#charts-area .encarving-text1 {
  position: absolute;
  top: 340px;
  left: 468px;
  height: 18px;
  /* Sensor 1 - HPC - Fan 1 */
  height: 18px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;

  color: #1d1d1d;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#charts-area .encarving-text2 {
  position: absolute;
  top: 512px;
  left: 425px;
  height: 18px;
  /* Sensor 1 - HPC - Fan 1 */
  height: 18px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;

  color: #1d1d1d;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
