#mapping-popup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 24px;
  gap: 10px;

  position: absolute;
  width: 742px;
  height: 412px;

  background: #ffffff;
  box-shadow: 4px 4px 22px rgba(20, 0, 42, 0.32);
  border-radius: 20px;
}

#mapping-popup .inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 22px;

  position: relative;
  width: 694px;
  height: 372px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#mapping-popup .inner .close-button {
  width: 32px;
  height: 32px;

  position: absolute;
  top: 0px;
  right: 0px;

  background-image: url('../assets/images/MappingPopup/icon-close.png');
  flex: none;
  order: 1;
  flex-grow: 0;
}

#mapping-popup .inner .title-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 12px;

  width: 694px;
  height: 32px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#mapping-popup .inner .title-area .text {
  width: 474px;
  height: 29px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  display: flex;
  align-items: center;

  color: #1d1d1d;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#mapping-popup .inner .mapping-icons-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;

  width: 699px;
  height: 115px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#mapping-popup .inner .slide-area {
  /* Frame 2087335324 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  position: relative;
  width: 694px;
  height: 83px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

#mapping-popup .inner .slide-area .text-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  /* gap: 584px; */

  width: 694px;
  height: 29px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#mapping-popup .inner .slide-area .text-area .distance-text {
  width: 100px;
  height: 29px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  display: flex;
  align-items: center;

  color: #1d1d1d;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#mapping-popup .inner .slide-area .text-area .value-unit-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;

  /* width: 70px; */
  height: 29px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#mapping-popup .inner .slide-area .text-area .value-unit-area .value-text {
  /* 50 */

  /* width: 31px; */
  height: 29px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  display: flex;
  align-items: center;

  color: #1d1d1d;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#mapping-popup .inner .slide-area .text-area .value-unit-area .unit-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 6px;

  /* width: 35px; */
  height: 29px;

  opacity: 0.5;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: right;

  color: #1d1d1d;
}

#mapping-popup .inner .slide-area .slide-root {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 24px;
  touch-action: none;
  user-select: none;
}

#mapping-popup .inner .slide-area .slide-track {
  background-color: rgba(29, 29, 29, 0.1);
  position: relative;
  flex-grow: 1;
  height: 24px;
  border-radius: 32px;
}

#mapping-popup .inner .slide-area .slide-range {
  position: absolute;
  background-color: #595959;
  height: 100%;
  border-radius: 32px 0 0 32px;
}

#mapping-popup .inner .slide-area .slide-thumb {
  display: block;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: 2px solid #6366f1;
  border-radius: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s;
}

#mapping-popup .inner .slide-area .slide-thumb:focus {
  outline: none;
  border-color: #4f46e5;
}
#mapping-popup .inner .slide-area .slide-thumb:hover {
  border-color: #4f46e5;
}
