.myline-chart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  background-color: red;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.fps .fps-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;

  position: absolute;
  width: 257px;
  height: 32px;
  left: 40px;
  top: 30px;

  background-image: url('../assets/images/img-fps-title.svg');
}

.fps .fps-graph-area {
  position: absolute;
  width: 657px;
  height: 266px;
  left: 40px;
  top: 90px;
}
