.line-chart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 30px 20px;
  gap: 10px; */
  isolation: isolate;
  position: relative;

  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.line-chart .chart-title-legend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 20px;
  width: 668px;
  z-index: 10;
}

.line-chart .chart-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12.12px;

  height: 31px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;

  color: #1d1d1d;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.line-chart .chart-legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.line-chart .legend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.line-chart .legend-icon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 6px solid currentColor;
  background: transparent;
  flex-shrink: 0;

  box-sizing: border-box;
}

/* .line-chart .legend-icon.legend-icon-image {
  width: 18px;
  height: 18px;

  background-image: url('../assets/images/legend-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
} */

.line-chart .legend-label {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #1d1d1d;
}

.line-chart .legend-icon.baseline-icon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 6px solid #ff1414;
  background: transparent;
  flex-shrink: 0;
  box-sizing: border-box;
}
