#vehicle-area .control-area .popup-area .btn-area .top .fan-start:active,
#vehicle-area .control-area .popup-area .btn-area .top .fan-clear:active,
#vehicle-area .control-area .popup-area .btn-area .wheel-auto:active,
#vehicle-area .control-area .popup-area .btn-area .wheel-cali:active,
#vehicle-area .control-area .popup-area .btn-area .bottom .fan-up:active,
#vehicle-area .control-area .popup-area .btn-area .bottom .fan-down:active,
#vehicle-area .control-area .popup-area .btn-area .wheel-start:active,
#vehicle-area .control-area .popup-area .btn-area .wheel-clear:active {
  filter: brightness(0.85) drop-shadow(0 2px 8px rgba(0, 0, 0, 0.18));
  transform: scale(0.97);
}
#vehicle-area {
  position: relative;
  width: 990px;
  height: 960px;
  left: 60px;
  top: 60px;
  box-sizing: border-box;

  background-image: url('../assets//images/VehicleArea/bg.png');
  border-radius: 30px;
}

#vehicle-area .control-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  position: absolute;
  width: 266px;
  height: 273px;
  left: 30px;
  top: 30px;
  background-image: url('../assets/images/VehicleArea/control-bg.png');
}

#vehicle-area .control-area .popup-area {
  /* popup_area */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;

  width: 226px;
  height: 233px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#vehicle-area .control-area .popup-area .tabber {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 226px;
  height: 49px;

  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#vehicle-area .control-area .popup-area .tabber .tabber-left {
  /* left */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  gap: 10px;

  width: 109px;
  height: 49px;

  background-image: url('../assets/images/VehicleArea/btn-fan-normal.png');
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

#vehicle-area .control-area .popup-area .tabber .tabber-left.selected {
  background-image: url('../assets/images/VehicleArea/btn-fan-selected.png');
}

#vehicle-area .control-area .popup-area .tabber .tabber-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  gap: 10px;

  width: 109px;
  height: 49px;

  background-image: url('../assets/images/VehicleArea/btn-wheel-normal.png');
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 1;
}
#vehicle-area .control-area .popup-area .tabber .tabber-right.selected {
  background-image: url('../assets/images/VehicleArea/btn-wheel-selected.png');
}

#vehicle-area .control-area .popup-area .btn-area {
  /* btn_area */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 226px;
  height: 164px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#vehicle-area .control-area .popup-area .btn-area .top {
  /* top */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 226px;
  height: 78px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#vehicle-area .control-area .popup-area .btn-area .top .fan-start {
  /* left */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 6px;

  width: 108px;
  height: 78px;

  background: #ffffff;
  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;

  background-image: url('../assets/images/VehicleArea/btn-fan-start.png');
}

#vehicle-area .control-area .popup-area .btn-area .top .fan-clear {
  /* right */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 6px;

  width: 108px;
  height: 78px;

  background: #ffffff;
  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 1;

  background-image: url('../assets/images/VehicleArea/bt-stop.png');
}

#vehicle-area .control-area .popup-area .btn-area .wheel-auto {
  /* left */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 6px;

  width: 107.5px;
  height: 78px;

  background: #ffffff;
  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
  background-image: url('../assets/images/VehicleArea/btn-wheel-auto.png');
}

#vehicle-area .control-area .popup-area .btn-area .wheel-cali {
  /* right */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;

  width: 108.5px;
  height: 78px;

  background: #ffffff;
  border-radius: 10px;

  background-image: url('../assets/images/VehicleArea/btn-wheel-cali.png');
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#vehicle-area .control-area .popup-area .btn-area .bottom {
  /* bottom */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 226px;
  height: 78px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#vehicle-area .control-area .popup-area .btn-area .bottom .fan-up {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 6px;
  width: 108px;
  height: 78px;
  background: #ffffff;
  border-radius: 10px;
  flex: 1 1 0;
  background-image: url('../assets/images/VehicleArea/btn-fan-up.png');
}

#vehicle-area .control-area .popup-area .btn-area .bottom .fan-down {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 6px;
  width: 108px;
  height: 78px;
  background: #ffffff;
  border-radius: 10px;
  flex: 1 1 0;
  background-image: url('../assets/images/VehicleArea/btn-fan-down.png');
}

#vehicle-area .control-area .popup-area .btn-area .wheel-start {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 6px;
  width: 108px;
  height: 78px;
  background: #ffffff;
  border-radius: 10px;
  flex: 1 1 0;
  background-image: url('../assets/images/VehicleArea/btn-wheel-start.png');
}

#vehicle-area .control-area .popup-area .btn-area .wheel-clear {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 6px;
  width: 108px;
  height: 78px;
  background: #ffffff;
  border-radius: 10px;
  flex: 1 1 0;
  background-image: url('../assets/images/VehicleArea/bt-stop.png');
}

#vehicle-area .mcu-status-green {
  position: absolute;
  width: 11px;
  height: 11px;

  background: #3dec94;
  border-radius: 50%;
}

#vehicle-area .mcu-status-black {
  position: absolute;
  width: 11px;
  height: 11px;

  background: #000000;
  border-radius: 50%;
}

#vehicle-area .mcu-less-1-rtt {
  /* 65us */

  position: absolute;
  /* width: 106px; */
  height: 22px;
  left: 195px;
  top: 565px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height, or 110% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

#vehicle-area .mcu-less-1 {
  left: 262px;
  top: 590px;
}

#vehicle-area .mcu-less-2-rtt {
  /* 65us */

  position: absolute;
  /* width: 46px; */
  height: 22px;
  left: 719px;
  top: 565px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height, or 110% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

#vehicle-area .mcu-less-2 {
  left: 756px;
  top: 590px;
}

#vehicle-area .mcu-1-rtt {
  /* 65us */

  position: absolute;
  width: 106px;
  height: 22px;
  left: 195px;
  top: 685px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height, or 110% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

#vehicle-area .mcu-1 {
  left: 262px;
  top: 710px;
}

#vehicle-area .mcu-2-rtt {
  /* 65us */

  position: absolute;
  width: 72.87px;
  height: 22px;
  left: 719px;
  top: 685px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height, or 110% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

#vehicle-area .mcu-2 {
  left: 756px;
  top: 710px;
}

#vehicle-area .mcu-less-3-rtt {
  /* 65us */

  position: absolute;
  width: 106px;
  height: 22px;
  left: 195px;
  top: 806px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height, or 110% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

#vehicle-area .mcu-less-3 {
  left: 262px;
  top: 831px;
}

#vehicle-area .mcu-less-4-rtt {
  position: absolute;
  width: 46px;
  height: 22px;
  left: 718px;
  top: 806px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height, or 110% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

#vehicle-area .mcu-less-4 {
  left: 756px;
  top: 831px;
}
