#vehicle-area .control-area .popup-area .btn-area .top .fan-start:active,
#vehicle-area .control-area .popup-area .btn-area .top .fan-clear:active,
#vehicle-area .control-area .popup-area .btn-area .wheel-auto:active,
#vehicle-area .control-area .popup-area .btn-area .wheel-cali:active,
#vehicle-area .control-area .popup-area .btn-area .bottom .fan-up:active,
#vehicle-area .control-area .popup-area .btn-area .bottom .fan-down:active,
#vehicle-area .control-area .popup-area .btn-area .wheel-start:active,
#vehicle-area .control-area .popup-area .btn-area .wheel-clear:active {
  filter: brightness(0.85) drop-shadow(0 2px 8px rgba(0, 0, 0, 0.18));
  transform: scale(0.97);
}
#vehicle-area {
  position: absolute;
  height: 825px;
  width: 990px;
  left: 60px;
  top: 195px;

  box-sizing: border-box;

  background-image: url('../assets//images/VehicleArea/bg.png');
  border-radius: 30px;
}

#vehicle-area .control-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  position: absolute;
  width: 266px;
  height: 273px;
  left: 30px;
  top: 30px;
  background-image: url('../assets/images/VehicleArea/control-bg.png');
}

#vehicle-area .control-area .popup-area {
  /* popup_area */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;

  width: 226px;
  height: 233px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#vehicle-area .control-area .popup-area .tabber {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 226px;
  height: 49px;

  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#vehicle-area .control-area .popup-area .tabber .tabber-left {
  /* left */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  gap: 10px;

  width: 109px;
  height: 49px;

  background-image: url('../assets/images/VehicleArea/btn-fan-normal.png');
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

#vehicle-area .control-area .popup-area .tabber .tabber-left.selected {
  background-image: url('../assets/images/VehicleArea/btn-fan-selected.png');
}

#vehicle-area .control-area .popup-area .tabber .tabber-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  gap: 10px;

  width: 109px;
  height: 49px;

  background-image: url('../assets/images/VehicleArea/btn-wheel-normal.png');
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 1;
}
#vehicle-area .control-area .popup-area .tabber .tabber-right.selected {
  background-image: url('../assets/images/VehicleArea/btn-wheel-selected.png');
}

#vehicle-area .control-area .popup-area .btn-area {
  /* btn_area */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 226px;
  height: 164px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#vehicle-area .control-area .popup-area .btn-area .top {
  /* top */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 226px;
  height: 78px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#vehicle-area .control-area .popup-area .btn-area .top .fan-start {
  /* left */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 6px;

  width: 108px;
  height: 78px;

  background: #ffffff;
  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;

  background-image: url('../assets/images/VehicleArea/btn-fan-start.png');
}

#vehicle-area .control-area .popup-area .btn-area .top .fan-clear {
  /* right */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 6px;

  width: 108px;
  height: 78px;

  background: #ffffff;
  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 1;

  background-image: url('../assets/images/VehicleArea/bt-stop.png');
}

#vehicle-area .control-area .popup-area .btn-area .wheel-auto {
  /* left */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 6px;

  width: 107.5px;
  height: 78px;

  background: #ffffff;
  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
  background-image: url('../assets/images/VehicleArea/btn-wheel-auto.png');
}

#vehicle-area .control-area .popup-area .btn-area .wheel-cali {
  /* right */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;

  width: 108.5px;
  height: 78px;

  background: #ffffff;
  border-radius: 10px;

  background-image: url('../assets/images/VehicleArea/btn-wheel-cali.png');
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#vehicle-area .control-area .popup-area .btn-area .bottom {
  /* bottom */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 226px;
  height: 78px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#vehicle-area .control-area .popup-area .btn-area .bottom .fan-up {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 6px;
  width: 108px;
  height: 78px;
  background: #ffffff;
  border-radius: 10px;
  flex: 1 1 0;
  background-image: url('../assets/images/VehicleArea/btn-fan-up.png');
}

#vehicle-area .control-area .popup-area .btn-area .bottom .fan-down {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 6px;
  width: 108px;
  height: 78px;
  background: #ffffff;
  border-radius: 10px;
  flex: 1 1 0;
  background-image: url('../assets/images/VehicleArea/btn-fan-down.png');
}

#vehicle-area .control-area .popup-area .btn-area .wheel-start {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 6px;
  width: 108px;
  height: 78px;
  background: #ffffff;
  border-radius: 10px;
  flex: 1 1 0;
  background-image: url('../assets/images/VehicleArea/btn-wheel-start.png');
}

#vehicle-area .control-area .popup-area .btn-area .wheel-clear {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 6px;
  width: 108px;
  height: 78px;
  background: #ffffff;
  border-radius: 10px;
  flex: 1 1 0;
  background-image: url('../assets/images/VehicleArea/bt-stop.png');
}

#vehicle-area .mcu-status-green {
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  background: #16b56b;
  border: 2px solid #242849;
  border-radius: 50%;
}

#vehicle-area .mcu-status-black {
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  background: #000000;
  border: 2px solid #242849;
  border-radius: 50%;
}

#vehicle-area .mcu-less-1 {
  left: 276px;
  top: 303px;
}

#vehicle-area .mcu-less-2 {
  left: 732px;
  top: 303px;
}

#vehicle-area .mcu-1 {
  left: 276px;
  top: 487px;
}

#vehicle-area .mcu-2 {
  left: 732px;
  top: 487px;
}

#vehicle-area .mcu-less-3 {
  left: 276px;
  top: 671px;
}

#vehicle-area .mcu-less-4 {
  left: 732px;
  top: 671px;
}

/* Dropdown Menu Styles */
.dropdown-trigger {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: flex-start; */
  justify-content: space-between;
  align-items: center;
  /* padding: 0px; */
  padding: 10px 16px;
  isolation: isolate;

  position: absolute;
  width: 294px;
  height: 70px;
  left: 30px;
  top: 30px;

  box-sizing: border-box;
  border: none;

  background: rgba(62, 69, 117, 0.53);
  backdrop-filter: blur(5.7px);
  border-radius: 22px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* .dropdown-trigger:hover {
  background-color: #f5f5f5;
} */

.dropdown-trigger:active {
  background-color: #eeeeee;
}

.dropdown-content {
  /* dropdown_menu_list */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;
  margin-top: 2px;
  gap: 0;

  width: 294px;
  /* height: 346px; */

  background: rgba(62, 69, 117, 0.53);
  backdrop-filter: blur(13.7px);
  border-radius: 20px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.dropdown-item {
  padding: 20px 16px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #1d1d1d;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  flex: 1;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.dropdown-item:active {
  background-color: #e8e8e8;
}

.dropdown-item.selected {
  background-color: #252deb;
  border-radius: 24px;
  color: #ffffff;
}

.check-icon {
  color: #ffffff;
  font-weight: 400;
  font-size: 30px;
  margin-left: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#vehicle-area .s1-normal {
  position: absolute;
  height: 119px;
  width: 205px;
  left: 110px;
  top: 298px;
  background-image: url('../assets/images/VehicleArea/s1-normal.png');
}

#vehicle-area .s2-normal {
  position: absolute;
  height: 119px;
  width: 204px;
  left: 676px;
  top: 298px;
  background-image: url('../assets/images/VehicleArea/s2-normal.png');
}

#vehicle-area .w1-normal {
  position: absolute;
  height: 143px;
  width: 205px;
  left: 110px;
  top: 482px;
  background-image: url('../assets/images/VehicleArea/w1-normal.png');
}

#vehicle-area .w2-normal {
  position: absolute;
  height: 143px;
  width: 204px;
  left: 676px;
  top: 482px;
  background-image: url('../assets/images/VehicleArea/w2-normal.png');
}

#vehicle-area .f1-normal {
  position: absolute;
  height: 119px;
  width: 204px;
  left: 110px;
  top: 666px;
  background-image: url('../assets/images/VehicleArea/f1-normal.png');
}

#vehicle-area .f2-normal {
  position: absolute;
  height: 119px;
  width: 204px;
  left: 676px;
  top: 666px;
  background-image: url('../assets/images/VehicleArea/f2-normal.png');
}

#vehicle-area .s1-dimmed {
  position: absolute;
  height: 119px;
  width: 205px;
  left: 110px;
  top: 298px;
  background-image: url('../assets/images/VehicleArea/s1-dimmed.png');
}

#vehicle-area .s2-dimmed {
  position: absolute;
  height: 119px;
  width: 204px;
  left: 676px;
  top: 298px;
  background-image: url('../assets/images/VehicleArea/s2-dimmed.png');
}

#vehicle-area .w1-dimmed {
  position: absolute;
  height: 143px;
  width: 205px;
  left: 110px;
  top: 482px;
  background-image: url('../assets/images/VehicleArea/w1-dimmed.png');
}

#vehicle-area .w2-dimmed {
  position: absolute;
  height: 143px;
  width: 204px;
  left: 676px;
  top: 482px;
  background-image: url('../assets/images/VehicleArea/w2-dimmed.png');
}

#vehicle-area .f1-dimmed {
  position: absolute;
  height: 119px;
  width: 204px;
  left: 110px;
  top: 666px;
  background-image: url('../assets/images/VehicleArea/f1-dimmed.png');
}

#vehicle-area .f2-dimmed {
  position: absolute;
  height: 119px;
  width: 204px;
  left: 676px;
  top: 666px;
  background-image: url('../assets/images/VehicleArea/f2-dimmed.png');
}
