#vehicle-area {
  position: absolute;
  width: 990px;
  height: 960px;
  left: 60px;
  top: 60px;
  box-sizing: border-box;

  background-image: url('../assets//images/VehicleArea/bg.png');
  border-radius: 30px;
}

#vehicle-area .control-area {
  position: absolute;
  width: 266px;
  height: 484px;

  box-sizing: border-box;

  position: relative;
  width: 266px;
  height: 484px;
  left: 24px;
  top: 16px;

  /* background: rgba(255, 255, 255, 0.8); */
  background-image: url('../assets/images/VehicleArea/control-bg.png');
  /* border: 1px solid rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(15px); */
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 30px;
}

#vehicle-area .control-area .fan-start {
  box-sizing: border-box;
  position: absolute;
  width: 108.5px;
  height: 78px;
  left: 27px;
  top: 61.5px;
  background: linear-gradient(90deg, #475af3 13.46%, #7040ff 96.17%);
  background-image: url('../assets/images/VehicleArea/btn-start-selected.png');
  border-radius: 27px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

#vehicle-area .control-area .fan-start:active {
  filter: brightness(0.85) drop-shadow(0 2px 8px rgba(0, 0, 0, 0.18));
  transform: scale(0.97);
}

#vehicle-area .control-area .fan-clear {
  position: absolute;
  width: 108.5px;
  height: 78px;
  left: 140.5px;
  top: 61.5px;

  background-image: url('../assets/images/VehicleArea/btn-clear-selected.png');
  border-radius: 24px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 1;
}
#vehicle-area .control-area .fan-clear:active {
  filter: brightness(0.85) drop-shadow(0 2px 8px rgba(0, 0, 0, 0.18));
  transform: scale(0.97);
}

#vehicle-area .control-area .fan-deaccel {
  position: absolute;
  width: 108.5px;
  height: 78px;
  left: 27px;
  top: 148.5px;

  background-image: url('../assets/images/VehicleArea/btn-deaccel-normal.png');
  border-radius: 24px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 1;
}
#vehicle-area .control-area .fan-deaccel:active {
  filter: brightness(0.85) drop-shadow(0 2px 8px rgba(0, 0, 0, 0.18));
  transform: scale(0.97);
}
#vehicle-area .control-area .fan-accel {
  position: absolute;
  width: 108.5px;
  height: 78px;
  left: 140.5px;
  top: 148.5px;

  background-image: url('../assets/images/VehicleArea/btn-accel-normal.png');
  border-radius: 24px;

  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 1;
}
#vehicle-area .control-area .fan-accel:active {
  filter: brightness(0.85) drop-shadow(0 2px 8px rgba(0, 0, 0, 0.18));
  transform: scale(0.97);
}

#vehicle-area .mcu-status-green {
  position: absolute;
  width: 30px;
  height: 30px;

  background: #3dec94;
  border-radius: 50%;
}

#vehicle-area .mcu-1 {
  left: 272px;
  top: 811px;
}

#vehicle-area .mcu-2 {
  left: 812px;
  top: 811px;
}

#vehicle-area .mcu-less-1 {
  left: 272px;
  top: 579px;
}

#vehicle-area .mcu-less-2 {
  left: 812px;
  top: 579px;
}

#vehicle-area .mcu-less-3 {
  left: 272px;
  top: 694px;
}

#vehicle-area .mcu-less-4 {
  left: 812px;
  top: 693px;
}
