#vehicle-area {
  position: absolute;
  width: 990px;
  height: 960px;
  left: 60px;
  top: 60px;
  box-sizing: border-box;

  background-image: url('../assets//images/VehicleArea/bg.png');
  border-radius: 30px;
}

#vehicle-area .fan-area {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 13px;

  position: absolute;
  width: 444px;
  height: 210px;
  left: 36px;
  top: 40px;
}

#vehicle-area .fan-area .fan-inner-area {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 20px;
  gap: 10px;

  width: 444px;
  height: 210px;

  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(15px);
  border-radius: 30px;

  flex: none;
  order: 0;
  flex-grow: 1;
}

#vehicle-area .wheel-area {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 13px;

  position: absolute;
  width: 444px;
  height: 210px;
  left: 510px;
  top: 40px;
}

#vehicle-area .wheel-area .wheel-inner-area {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 20px;
  gap: 10px;

  width: 444px;
  height: 210px;

  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(15px);
  border-radius: 30px;

  flex: none;
  order: 0;
  flex-grow: 1;
}

#vehicle-area .mcu-status-black {
  position: absolute;
  width: 30px;
  height: 30px;

  background: #1d1d1d;
  border-radius: 50%;
}

#vehicle-area .mcu-status-green {
  position: absolute;
  width: 30px;
  height: 30px;

  background: #3dec94;
  border-radius: 50%;
}

#vehicle-area .mcu-1 {
  left: 272px;
  top: 811px;
}

#vehicle-area .mcu-2 {
  left: 812px;
  top: 811px;
}

#vehicle-area .mcu-less-1 {
  left: 272px;
  top: 579px;
}

#vehicle-area .mcu-less-2 {
  left: 812px;
  top: 579px;
}

#vehicle-area .mcu-less-3 {
  left: 272px;
  top: 694px;
}

#vehicle-area .mcu-less-4 {
  left: 812px;
  top: 693px;
}
