#wheel-controller {
  /* content */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 20px;
  gap: 10px;

  position: absolute;
  width: 270px;
  height: 204 px;
  left: 334px;
  top: 30px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
